<div class="modal-header navlinkinSolid">
  <h4 class="modal-title text-uppercase">formulario profesores nivel de formación</h4>
  <a class="btn navlinkin fa-2x" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="fas fa-times-circle"></i>
  </a>
</div>
<form >
<div class="modal-body">
<br>
<button style="color: #DFD4A6;background-color: #8F141B;margin: 1px;" class="btn text-uppercase" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">tiempo completo</button>
<button style="color: #DFD4A6;background-color: #8F141B;margin: 1px;" class="btn text-uppercase" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">medio tiempo</button>
<button style="color: #DFD4A6;background-color: #8F141B;margin: 1px;" class="btn text-uppercase" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">catedra</button>
<hr>
<div class="row" id="accordionExample">
    <div class="col">
      <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
        <div class="card card-body">
            <div class="form-group fade-in" style="font-size: 12px;">
              <div class="row text-center">
                <h5 class="text-uppercase">número de docentes de tiempo completo según el nivel de formación</h5>
                <br>
              </div>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TÉCNICOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TECNÓLOGOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">PROFESIONALES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">ESPECIALISTAS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">MAGISTERS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">DOCTORES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">POSTDOCTORADOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">total de docentes</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
        <div class="card card-body">
            <div class="form-group fade-in" style="font-size: 12px;">
                <div class="row text-center">
                    <h5 class="text-uppercase">número de docentes de medio tiempo según el nivel de formación</h5>
                    <br>
                  </div>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TÉCNICOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TECNÓLOGOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">PROFESIONALES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">ESPECIALISTAS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">MAGISTERS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">DOCTORES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">POSTDOCTORADOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">total de docentes</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordionExample">
        <div class="card card-body">
            <div class="form-group fade-in" style="font-size: 12px;">
                <div class="row text-center">
                    <h5 class="text-uppercase">número de docentes de catedra según el nivel de formación</h5>
                    <br>
                  </div>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TÉCNICOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TECNÓLOGOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">PROFESIONALES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">ESPECIALISTAS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">MAGISTERS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">DOCTORES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">POSTDOCTORADOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">total de docentes</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="submit" class="btn navlinkin"><span class="far fa-save"></span> Guardar</button>
  <button type="reset" class="btn navlinkin"><span class="fas fa-backspace"></span> Limpiar</button>
</div>
</form>