<div class="modal-header navlinkinSolid">
  <h4 class="modal-title text-uppercase">formulario profesores nivel de formación</h4>
  <a class="btn navlinkin fa-2x" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="fas fa-times-circle"></i>
  </a>
</div>
<form >
<div class="modal-body">
<!--OPCION POR TABLA-->
<div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <label for="inputAddress" class="text-uppercase gray">año</label><br><br>
        <select class="form-control inputPaciente shadow" id="exampleFormControlSelect1">
          <option value="" disabled="disabled">Año</option>
          <option *ngFor="let ran of range" [value]="ran">{{ran}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="inputAddress" class="text-uppercase gray">periodo</label><br><br>
        <input id="otrosgrup" min="1" max="2" name="otrosgrup" type="number" class="form-control shadow p-3 inputPaciente" autocomplete="off" placeholder="0">
      </div>
    </div>
  </div>
<table bordercolor="black" class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th rowspan="2" scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">TIPO DE VINCULACIÓN</th>
        <th rowspan="2" scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">número de docentes</th>
        <th colspan="7" scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">nivel de formación</th>
      </tr>
      <tr class="text-center">
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no.<br> técnicos</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no.<br> tecnólogos</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no.<br> profesionales</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no.<br> especialistas</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no.<br> magisters</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no.<br> doctores</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no.<br> Posdoctorados</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-uppercase align-middle borden text-center" style="font-size: 12px">Tiempo completo</th>
        <td class="align-middle text-center">
          <input [value]="totalTc" id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control" readonly="false" placement="top" ngbTooltip="Este campo es automático">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control" [(ngModel)]="tcTecnico" autocomplete="off" (input)="calcularProfesoresTc()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control" [(ngModel)]="tcTecnologo" autocomplete="off" (input)="calcularProfesoresTc()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control" [(ngModel)]="tcProfesional" autocomplete="off" (input)="calcularProfesoresTc()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control" [(ngModel)]="tcEspecialista" autocomplete="off" (input)="calcularProfesoresTc()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control" [(ngModel)]="tcMagister" autocomplete="off" (input)="calcularProfesoresTc()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control" [(ngModel)]="tcDoctores" autocomplete="off" (input)="calcularProfesoresTc()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control" [(ngModel)]="tcPosdoctorado" autocomplete="off" (input)="calcularProfesoresTc()">
        </td>
      </tr>
      <tr>
        <th scope="row" class="text-uppercase align-middle borden text-center" style="font-size: 12px">Medio Tiempo</th>
        <td class="align-middle text-center">
          <input [value]="totalMt" id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control" readonly="false" placement="top" ngbTooltip="Este campo es automático">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="mtTecnico" autocomplete="off" (input)="calcularProfesoresMt()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="mtTecnologo" autocomplete="off" (input)="calcularProfesoresMt()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="mtProfesional" autocomplete="off" (input)="calcularProfesoresMt()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="mtEspecialista" autocomplete="off" (input)="calcularProfesoresMt()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="mtMagister" autocomplete="off" (input)="calcularProfesoresMt()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="mtDoctores" autocomplete="off" (input)="calcularProfesoresMt()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="mtPosdoctorado" autocomplete="off" (input)="calcularProfesoresMt()">
        </td>
      </tr>
      <tr>
        <th scope="row" class="text-uppercase align-middle borden text-center" style="font-size: 12px">catedra</th>
        <td class="align-middle text-center">
          <input [value]="totalC" id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control" readonly="false" placement="top" ngbTooltip="Este campo es automático">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="cTecnico" autocomplete="off" (input)="calcularProfesoresC()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="cTecnologo" autocomplete="off" (input)="calcularProfesoresC()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="cProfesional" autocomplete="off" (input)="calcularProfesoresC()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="cEspecialista" autocomplete="off" (input)="calcularProfesoresC()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="cMagister" autocomplete="off" (input)="calcularProfesoresC()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="cDoctores" autocomplete="off" (input)="calcularProfesoresC()">
        </td>
        <td class="align-middle text-center">
          <input id="otrosgrup" type="number" name="otrosgrup" min="0" style="border:0px;width: 100%;" class="form-control"  [(ngModel)]="cPosdoctorado" autocomplete="off" (input)="calcularProfesoresC()">
        </td>
      </tr>
    </tbody>
  </table>
<!-- OPCIÓN FORMULARIO
  <br>
<button style="color: #DFD4A6;background-color: #8F141B;margin: 1px;" class="btn text-uppercase" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">tiempo completo</button>
<button style="color: #DFD4A6;background-color: #8F141B;margin: 1px;" class="btn text-uppercase" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">medio tiempo</button>
<button style="color: #DFD4A6;background-color: #8F141B;margin: 1px;" class="btn text-uppercase" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">catedra</button>
<hr>
<div class="row" id="accordionExample">
    <div class="col">
      <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
        <div class="card card-body">
            <div class="form-group fade-in" style="font-size: 12px;">
              <div class="row text-center">
                <h5 class="text-uppercase">número de docentes de tiempo completo según el nivel de formación</h5>
                <br>
              </div>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TÉCNICOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TECNÓLOGOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">PROFESIONALES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">ESPECIALISTAS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">MAGISTERS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">DOCTORES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">POSTDOCTORADOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">total de docentes</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
        <div class="card card-body">
            <div class="form-group fade-in" style="font-size: 12px;">
                <div class="row text-center">
                    <h5 class="text-uppercase">número de docentes de medio tiempo según el nivel de formación</h5>
                    <br>
                  </div>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TÉCNICOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TECNÓLOGOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">PROFESIONALES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">ESPECIALISTAS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">MAGISTERS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">DOCTORES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">POSTDOCTORADOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">total de docentes</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordionExample">
        <div class="card card-body">
            <div class="form-group fade-in" style="font-size: 12px;">
                <div class="row text-center">
                    <h5 class="text-uppercase">número de docentes de catedra según el nivel de formación</h5>
                    <br>
                  </div>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TÉCNICOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">TECNÓLOGOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">PROFESIONALES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">ESPECIALISTAS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">MAGISTERS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">DOCTORES</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">POSTDOCTORADOS</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                  <div class="col">
                    <label class="text-uppercase font-weight-bold">total de docentes</label>
                    <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

-->
</div>
<div class="modal-footer">
  <button type="submit" class="btn navlinkin"><span class="far fa-save"></span> Guardar</button>
  <button type="reset" class="btn navlinkin"><span class="fas fa-backspace"></span> Limpiar</button>
</div>
</form>