<div class="modal-header navlinkinSolid">
  <h4 class="modal-title text-uppercase">PUBLICACIÓN REVISTA ESPECIALIZADA</h4>
  <a class="btn navlinkin fa-2x" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="fas fa-times-circle"></i>
  </a>
</div>
<form (ngSubmit)="guardar()" #forma="ngForm">
  <div class="modal-body">
    <div class="form-group">
      <label class="text-uppercase gray">grupo</label>
      <input [(ngModel)]="tabla3cond7.nombregrup" id="nombregrupinves" name="nombregrupinves" type="text"
        class="form-control shadow p-3 inputPaciente" placeholder="Nombre del grupo">
    </div>
    <hr>
    <div class="form-group text-center">
      <label class="text-uppercase gray">clasificación</label>
      <div class="row">
        <div class="col">
          <label class="text-uppercase gray">tipo a</label>
          <input [(ngModel)]="tabla3cond7.tipoA" [(ngModel)]="tipoa" (input)="calcularTipoClasificacion()"
            id="nombregrupinves" autocomplete="false" min="0" name="nombregrupinves" type="number"
            class="form-control shadow p-3 inputPaciente" autocomplete="off" placeholder="0">
        </div>
        <div class="col">
          <label class="text-uppercase gray">Tipo top</label>
          <input [(ngModel)]="tabla3cond7.tipoTop" [(ngModel)]="tipotop" (input)="calcularTipoClasificacion()"
            id="nombregrupinves" autocomplete="false" min="0" name="nombregrupinves" type="number"
            class="form-control shadow p-3 inputPaciente" autocomplete="off" placeholder="0">
        </div>
        <div class="col">
          <label for="inputAddress" class="text-uppercase gray">total</label>
          <input [value]="tabla3cond7.total" id="otrosgrup" [(ngModel)]="tabla3cond7.total" name="otrosgrup"
            type="number" class="form-control shadow p-3 inputPaciente" autocomplete="off" placeholder="0"
            readonly="false" placement="top" ngbTooltip="Este campo es automático">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn navlinkin"><span class="far fa-save"></span> Guardar</button>
    <button type="reset" class="btn navlinkin"><span class="fas fa-backspace"></span> Limpiar</button>
  </div>
</form>