<div class="modal-header navlinkinSolid">
  <h4 class="modal-title text-uppercase">formulario profesores nivel de formación</h4>
  <a class="btn navlinkin fa-2x" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="fas fa-times-circle"></i>
  </a>
</div>
<form >
<div class="modal-body">
<ngb-tabset type="pills">
  <ngb-tab title="TIEMPO COMPLETO">
    <ng-template ngbTabContent>
      <p><span><br>
          <div class="form-group" style="font-size: 12px;">
              <div class="row text-center">
                <div class="col">
                  <label class="text-uppercase font-weight-bold">TÉCNICOS</label>
                  <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                </div>
                <div class="col">
                  <label class="text-uppercase font-weight-bold">TECNÓLOGOS</label>
                  <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                </div>
                <div class="col">
                  <label class="text-uppercase font-weight-bold">PROFESIONALES</label>
                  <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                </div>
                <div class="col">
                  <label class="text-uppercase font-weight-bold">ESPECIALISTAS</label>
                  <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                </div>
              </div>
              <br>
              <div class="row text-center">
                <div class="col">
                  <label class="text-uppercase font-weight-bold">MAGISTERS</label>
                  <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                </div>
                <div class="col">
                  <label class="text-uppercase font-weight-bold">DOCTORES</label>
                  <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                </div>
                <div class="col">
                  <label class="text-uppercase font-weight-bold">POSTDOCTORADOS</label>
                  <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
                </div>
              </div>
            </div>
      </span></p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>MEDIO TIEMPO</ng-template>
    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
      sint qui sapiente accusamus tattooed echo park.</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="CATEDRA">
    <ng-template ngbTabContent>
      <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<br>
<div class="form-group text-center">
  <label class="text-uppercase font-weight-bold">TIEMPO COMPLETO</label>
</div>
<div class="form-group" style="font-size: 12px;">
  <div class="row text-center">
    <div class="col">
      <label class="text-uppercase font-weight-bold">TÉCNICOS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">TECNÓLOGOS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">PROFESIONALES</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">ESPECIALISTAS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col">
      <label class="text-uppercase font-weight-bold">MAGISTERS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">DOCTORES</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">POSTDOCTORADOS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
  </div>
</div>
<hr>
<div class="form-group text-center">
  <label class="text-uppercase font-weight-bold">TIEMPO COMPLETO</label>
</div>
<div class="form-group" style="font-size: 12px;">
  <div class="row text-center">
    <div class="col">
      <label class="text-uppercase font-weight-bold">TÉCNICOS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">TECNÓLOGOS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">PROFESIONALES</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">ESPECIALISTAS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col">
      <label class="text-uppercase font-weight-bold">MAGISTERS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">DOCTORES</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">POSTDOCTORADOS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
  </div>
</div>
<hr>
<div class="form-group text-center">
  <label class="text-uppercase font-weight-bold">TIEMPO COMPLETO</label>
</div>
<div class="form-group" style="font-size: 12px;">
  <div class="row text-center">
    <div class="col">
      <label class="text-uppercase font-weight-bold">TÉCNICOS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">TECNÓLOGOS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">PROFESIONALES</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">ESPECIALISTAS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col">
      <label class="text-uppercase font-weight-bold">MAGISTERS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">DOCTORES</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
    <div class="col">
      <label class="text-uppercase font-weight-bold">POSTDOCTORADOS</label>
      <input id="otrosgrup" type="number" name="otrosgrup" min="0" class="form-control">
    </div>
  </div>
</div>
<hr>
<div class="form-group">
  <label class="text-uppercase">Clasificación colciencias</label>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio1"  value="A1" name="customRadio1" class="custom-control-input">
    <label class="custom-control-label" for="customRadio1">A1</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio2" value="A" name="customRadio2" class="custom-control-input">
    <label class="custom-control-label" for="customRadio2">A</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio3" value="B" name="customRadio3" class="custom-control-input">
    <label class="custom-control-label" for="customRadio3">B</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio4" value="C" name="customRadio4" class="custom-control-input">
    <label class="custom-control-label" for="customRadio4">C</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio5" value="R" name="customRadio5" class="custom-control-input">
    <label class="custom-control-label" for="customRadio5">Registrado</label>
  </div>
</div>
<div class="form-group">
  <label for="inputAddress" class="text-uppercase">OTROS GRUPOS</label>
  <input id="otrosgrup" name="otrosgrup" class="form-control" placeholder="...">
</div>
<div class="form-group">
  <label for="inputAddress" class="text-uppercase">GRUPOS INTERDISCIPLINARIOS</label>
  <input id="grupinterdis" name="grupinterdis" type="text" class="form-control" placeholder="...">
</div>

</div>
<div class="modal-footer">
  <button type="submit" class="btn navlinkin"><span class="far fa-save"></span> Guardar</button>
  <button type="reset" class="btn navlinkin"><span class="fas fa-backspace"></span> Limpiar</button>
</div>
</form>