.fondoTitulo {
  background-color: rgb(72, 153, 228);
  color: white;
  font: "Open Sans", Arial, Helvetica, sans-serif;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}
.inputPaciente {
  border-radius: 50px;
  width: 20%px;
  margin-bottom: 15px;
}
.tablaAdmin {
  font-size: 13px;
  color: black;
}
.encurso {
  background-color: rgb(252, 252, 149);
}
.atiempo {
  background-color: rgb(184, 255, 184);
}
.expira {
  background-color: rgb(255, 157, 157);
}
.nulo {
  background-color: white;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"] {
  -moz-appearance: textfield;
}

#uscoRojo {
  background-color: #8f141b;
  color: #dfd4a6;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  margin: 0;
  opacity: 0;
}
.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + .75rem);
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #dfd4a6;
  content: "Adjuntar";
  background-color: #8f141b;
  border-left: inherit;
  border-radius: 0 .25rem .25rem 0;
}
