<div class="container inicio">
    <br>
    <br>
    <form (ngSubmit)="guardar()" #forma="ngForm" class="text-center">
        <div class="row animated fadeIn fast">
            <div class="col-md-12">
                <div class="row">
                    <div class="col">
                        <h6 class="text-left gray">Tipo de programa:</h6>
                        <select class="custom-select shadow inputPaciente" id="nivelFormacion" name="nivelFormacion"
                            [(ngModel)]="cond1.nivelFormacion" (change)="progreso()" (change)="progreso1()">
                            <option value="" disabled="disabled">Elija el tipo de programa</option>
                            <option value="Técnico">Técnico</option>
                            <option value="Tecnológico">Tecnológico</option>
                            <option value="Especialización">Especialización</option>
                            <option value="Maestría">Maestría</option>
                            <option value="Doctorado">Doctorado</option>
                        </select>
                        <div class="text-right" style="padding: 0px;">
                            <span class="uscolink">{{acumPuntos1}}%</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col text-center">
                                <div class="alert alert-light text-left">
                                    <p style="font-size: 12px;">Convenciones<br><i class="fas fa-stop"
                                            style="color: rgb(255, 157, 157);"></i> Menos de 5 días<br><i
                                            class="fas fa-stop" style="color: rgb(252, 252, 149);"></i> Menos de 15
                                        días<br><i class="fas fa-stop" style="color: rgb(184, 255, 184);"></i> Más de 15
                                        días</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="gray text-left">Nombre del programa:</h6>
                        <input type="text" (change)="progreso()" (change)="progreso2()"
                            [(ngModel)]="cond1.nombrePrograma" name="nombrePrograma" id="nombrePrograma"
                            class="form-control shadow p-3 inputPaciente" placeholder="...">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h6 class="gray text-left">Responsable:</h6>
                                <select (change)="progreso()" (change)="progreso2()"
                                    class="custom-select shadow inputPaciente gray" id="responsableNombre"
                                    name="responsableNombre" [(ngModel)]="cond1.responsableNombre">
                                    <option value="" disabled="disabled">Elija el responsable</option>
                                    <option value="Jefe de programa">Jefe de programa</option>
                                    <option value="Coordinador de currículo">Coordinador de currículo</option>
                                    <option value="Jefe de programa y Coordinador de currículo">Jefe de programa y
                                        Coordinador de currículo</option>
                                </select>
                            </div>
                            <div class="col">
                                <form action="get"></form>
                                <h6 class="gray text-left">Fecha:</h6>
                                <input (change)="progreso()" (change)="progreso2()" id="fechaNombre" name="fechaNombre"
                                    [(ngModel)]="cond1.fechaNombre" type="date"
                                    [ngClass]="{'atiempo' : res1 > 15,'encurso' : res1 <= 15, 'expira': res1 < 5, 'nulo': res1 == -10000 || res1 < -30}"
                                    name="fecha1Id" class="form-control shadow p-3 inputPaciente" [(ngModel)]="fecha1Id"
                                    (ngModelChange)="myFunc1(fecha1Id)">
                                <div class="text-right" style="padding: 0px;">
                                    <span class="uscolink">{{acumPuntosAux2}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col">
                        <h6 class="gray text-left">Título a otorgar:</h6>
                        <input (change)="progreso()" (change)="progreso3()" type="text" id="tituloOtorgar"
                            name="tituloOtorgar" [(ngModel)]="cond1.tituloOtorgar"
                            class="form-control shadow p-3 inputPaciente" placeholder="Nombre del título">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h6 class="gray text-left">Responsable:</h6>
                                <select (change)="progreso()" (change)="progreso3()"
                                    class="custom-select shadow inputPaciente gray" id="responsableTitulo"
                                    name="responsableTitulo" [(ngModel)]="cond1.responsableTitulo">
                                    <option value="" disabled="disabled">Elija el responsable</option>
                                    <option value="Jefe de programa">Jefe de programa</option>
                                    <option value="Coordinador de currículo">Coordinador de currículo</option>
                                    <option value="Jefe de programa y Coordinador de currículo">Jefe de programa y
                                        Coordinador de currículo</option>
                                </select>
                            </div>
                            <div class="col">
                                <h6 class="gray text-left">Fecha:</h6>
                                <input (change)="progreso()" (change)="progreso3()" id="fechaTitulo" name="fechaTitulo"
                                    [(ngModel)]="cond1.fechaTitulo" type="date"
                                    [ngClass]="{'atiempo' : res2 > 15,'encurso' : res2 <= 15, 'expira': res2 <5, 'nulo': res2 == -10000 || res2 < -30}"
                                    name="fecha2Id" class="form-control shadow p-3 inputPaciente" [(ngModel)]="fecha2Id"
                                    (change)="myFunc2(fecha2Id)">
                                <div class="text-right" style="padding: 0px;">
                                    <span class="uscolink">{{acumPuntosAux3}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col text-left">
                        <h6 class="gray text-left">Contenido curricular:</h6>
                        <br>
                        <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
                            <div class="row">
                                <div *ngIf="porcentaje > 1 && porcentaje < 101" class="col">
                                    <ngb-progressbar [showValue]="true" type="danger" [value]="porcentaje">
                                    </ngb-progressbar><br>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <label class="file-label">
                                        <input type="file" class="custom-file-input" formControlName="archivo"
                                            (change)="cambioArchivo($event)" id="customFileLang" lang="es" required>
                                        <span class="file-cta">
                                            <span class="custom-file-label text-left inputPaciente"
                                                style="margin-left: 16px;" for="customFileLang">
                                                {{ mensajeArchivo }}
                                            </span>
                                        </span>
                                    </label>
                                    <h5 *ngIf="porcentaje === 100" class="alert-primary text-center">Archivo cargado
                                        exitosamente</h5>
                                    <br>
                                </div>
                                <div class="col-4 text-left">
                                    <button (change)="progreso4()" class="btn navlinkin" type="submit"
                                        [disabled]="!archivoForm.valid"><i class="fas fa-upload"></i></button>
                                    <a href="{{ URLPublica }}" target="_blank" class="btn navlinkin" *ngIf="finalizado"
                                        style="margin-left: 5px;"><i class="far fa-eye"></i></a>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h6 class="gray text-left">Responsable:</h6><br>
                                <select (change)="progreso()" (change)="progreso4()"
                                    class="custom-select shadow inputPaciente gray" id="responsableContenidoCurricular"
                                    name="responsableContenidoCurricular"
                                    [(ngModel)]="cond1.responsableContenidoCurricular">
                                    <option value="" disabled="disabled">Elija el responsable</option>
                                    <option value="Jefe de programa">Jefe de programa</option>
                                    <option value="Coordinador de currículo">Coordinador de currículo</option>
                                    <option value="Jefe de programa y Coordinador de currículo">Jefe de programa y
                                        Coordinador de currículo</option>
                                </select>
                            </div>
                            <div class="col">
                                <h6 class="gray text-left">Fecha:</h6><br>
                                <input (change)="progreso()" (change)="progreso4()" id="fechaContenidoCurricular"
                                    name="fechaContenidoCurricular" [(ngModel)]="cond1.fechaContenidoCurricular"
                                    type="date"
                                    [ngClass]="{'atiempo' : res3 > 15,'encurso' : res3 <= 15, 'expira': res3 <5, 'nulo': res3 == -10000 || res3 < -30}"
                                    name="fecha3Id" class="form-control shadow p-3 inputPaciente" [(ngModel)]="fecha3Id"
                                    (change)="myFunc3(fecha3Id)">
                                <div class="text-right" style="padding: 0px;">
                                    <span class="uscolink">{{acumPuntosAux4}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                </div>
                <div class="col-md-12 text-left p-3">
                    <span class="uscolink">{{acumPuntosAux5}}%</span>
                    <button style="width: 28%; font-size: 100%; margin: 5px" class="btn botonUsco"
                        (click)="desplegarForm()" type="button">Información complementária <i
                            *ngIf="formComplementario === false" class="far fa-arrow-alt-circle-down"></i><i
                            *ngIf="formComplementario === true" class="far fa-arrow-alt-circle-up"></i></button>
                    <a class="btn btn-danger navlinkin"
                        href="https://contenidos.usco.edu.co/salud/index.php/programas/posgrados/doctorado-en-ciencias-de-la-salud"
                        target="_blank">Ir al perfil de egresado</a>
                </div>
                <div *ngIf="formComplementario != false">
                    <div class="row">
                        <div class="col">
                            <h6 class="gray text-left">Nivel Académico:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="nivelAcademico"
                                [(ngModel)]="cond1.nivelAcademico" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                        <div class="col">
                            <h6 class="gray text-left">Área del Conocimiento:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="areaConocimiento"
                                [(ngModel)]="cond1.areaConocimiento" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                        <div class="col">
                            <h6 class="gray text-left">Dirección:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="direccionGeografica"
                                [(ngModel)]="cond1.direccionGeografica" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <h6 class="gray text-left">Teléfonos:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="telefonos"
                                [(ngModel)]="cond1.telefonos" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                        <div class="col">
                            <h6 class="gray text-left">Fax:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="fax"
                                [(ngModel)]="cond1.fax" class="form-control shadow p-3 inputPaciente" placeholder="">
                        </div>
                        <div class="col">
                            <h6 class="gray text-left">Página Web institucional:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="paginaWeb"
                                [(ngModel)]="cond1.paginaWeb" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <h6 class="gray text-left">E Mail:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="mail"
                                [(ngModel)]="cond1.mail" class="form-control shadow p-3 inputPaciente" placeholder="">
                        </div>
                        <div class="col">
                            <h6 class="gray text-left">Entidad oferente:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="entidadOferente"
                                [(ngModel)]="cond1.entidadOferente" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                        <div class="col">
                            <h6 class="gray text-left">Metodología:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="metodologia"
                                [(ngModel)]="cond1.metodologia" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <h6 class="gray text-left">Número de créditos:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="numeroCreditos"
                                [(ngModel)]="cond1.numeroCreditos" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div><br>
                        <div class="col">
                            <h6 class="gray text-left">Duración:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="duracion"
                                [(ngModel)]="cond1.duracion" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                        <div class="col">
                            <h6 class="gray text-left">Número de estudiantes:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="numeroEstudiantes"
                                [(ngModel)]="cond1.numeroEstudiantes" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <h6 class="gray text-left">Periodicidad de admisiones:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="periocidadAdmision"
                                [(ngModel)]="cond1.periocidadAdmision" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                        <div class="col">
                            <h6 class="gray text-left">Costo de matrícula semestral:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="costoMatricula"
                                [(ngModel)]="cond1.costoMatricula" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                        <div class="col">
                            <h6 class="gray text-left">Localización del Programa:</h6>
                            <input (change)="progreso()" (change)="progreso5()" type="text" name="localizacionPrograma"
                                [(ngModel)]="cond1.localizacionPrograma" class="form-control shadow p-3 inputPaciente"
                                placeholder="">
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <hr>
        <div class="accordion" id="accordionExample"
            style="border-bottom-style: solid;border-color: #cccccc;border-width: 1px;">
            <div class="card">
                <div class="card-header" id="headingOne" style="background-color: #8F141B">
                    <div class="row">
                        <div class="col" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne"></div>
                        <div class="col">
                            <h2 class="mb-0">
                                <button (click)="toggle()" id="bt"
                                    class="btn btn-link navlinkin font-weight-bold text-uppercase" type="button">
                                    {{buttonName}}
                                </button>
                            </h2>
                        </div>
                        <div class="col" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne"></div>
                    </div>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <h5 class="alert-warning text-center">Diligencie los campos, adjunte los archivos respectivos y
                            suba (<span class="fas fa-upload"></span>) los archivos antes de guardar (<span
                                class="far fa-save"></span>)
                        </h5><br>
                        <h6 class="gray text-left" *ngIf="!show">1). Acto administrativo con el que se creó el programa
                            y el órgano interno de dirección que aprobó dicha creación.</h6>
                        <h6 class="gray text-left" *ngIf="show">1). ¿Mediante qué acto administrativo se creó el
                            programa y que órgano interno de dirección aprobó dicha creación? </h6>
                        <br>
                        <textarea (change)="progreso()" (change)="progreso6()" id="pregunta11" name="pregunta11"
                            [(ngModel)]="cond1.aspecto1Condicion1" class="form-control shadow p-3 inputPaciente"
                            placeholder="..." rows="3"></textarea>
                        <br>
                        <form [formGroup]="archivoForm1" (ngSubmit)="subirArchivo1()">
                            <div class="row">
                                <div class="col">
                                    <ngb-progressbar *ngIf="porcentaje1 > -1 && porcentaje1 < 101" [showValue]="true"
                                        type="danger" [value]="porcentaje1"></ngb-progressbar><br>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="file-label">
                                        <input type="file" class="custom-file-input" formControlName="archivo1"
                                            (change)="cambioArchivo1($event)" id="customFileLang" lang="es" required>
                                        <span class="file-cta">
                                            <span class="custom-file-label text-left inputPaciente"
                                                style="margin-left: 16px;" for="customFileLang">
                                                {{ mensajeArchivo1 }}
                                            </span>
                                        </span>
                                    </label>
                                    <h5 *ngIf="porcentaje1 === 100" class="text-center"
                                        style="background-color: #dfd4a6;color: #8F141B;">Archivo cargado
                                        exitosamente</h5>
                                    <br>
                                </div>
                                <div class="col text-left">
                                    <button class="btn navlinkin" ngbTooltip="Subir archivo"
                                        tooltipClass="my-custom-class" (click)="progreso6()" type="submit"
                                        [disabled]="!archivoForm1.valid"><i class="fas fa-upload"></i></button>
                                    <a href="{{ URLPublica1 }}" target="_blank" class="btn navlinkin"
                                        *ngIf="finalizado1" style="margin-left: 5px;"><i class="far fa-eye"></i></a>
                                    <div class="text-right" style="padding: 0px;">
                                        <span class="uscolink">{{acumPuntos6}}%</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                        <hr style="border-top: 1px solid black;">
                        <h6 class="gray text-left" *ngIf="!show">2). Áreas de formación del programa presentado y la
                            articulación con el alcance de la denominación.</h6>
                        <h6 class="gray text-left" *ngIf="show">2). ¿Cuáles son las áreas de formación del programa
                            presentado y como éstas se articulan con el alcance de la denominación? </h6>
                        <br>
                        <textarea (change)="progreso()" (change)="progreso7()" name="aspecto2Condicion1"
                            [(ngModel)]="cond1.aspecto2Condicion1" class="form-control shadow p-3 inputPaciente"
                            placeholder="..." rows="3"></textarea><br>
                        <br>
                        <form [formGroup]="archivoForm2" (ngSubmit)="subirArchivo2()">
                            <div class="row">
                                <div class="col">
                                    <ngb-progressbar *ngIf="porcentaje2 > -1 && porcentaje2 < 101" [showValue]="true"
                                        type="danger" [value]="porcentaje2"></ngb-progressbar><br>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="file-label">
                                        <input type="file" class="custom-file-input" formControlName="archivo2"
                                            (change)="cambioArchivo2($event)" id="customFileLang" lang="es" required>
                                        <span class="file-cta">
                                            <span class="custom-file-label text-left inputPaciente"
                                                style="margin-left: 16px;" for="customFileLang">
                                                {{ mensajeArchivo2 }}
                                            </span>
                                        </span>
                                    </label>
                                    <h5 *ngIf="porcentaje2 === 100" class="text-center"
                                        style="background-color: #dfd4a6;color: #8F141B;">Archivo cargado
                                        exitosamente</h5>
                                    <br>
                                </div>
                                <div class="col text-left">
                                    <button class="btn navlinkin" (click)="progreso7()" type="submit"
                                        [disabled]="!archivoForm2.valid"><i class="fas fa-upload"></i></button>
                                    <a href="{{ URLPublica2 }}" target="_blank" class="btn navlinkin"
                                        *ngIf="finalizado2" style="margin-left: 5px;"><i class="far fa-eye"></i></a>
                                    <div class="text-right" style="padding: 0px;">
                                        <span class="uscolink">{{acumPuntos7}}%</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                        <hr style="border-top: 1px solid black;">
                        <h6 class="gray text-left" *ngIf="!show">3). Soporte del alcance, la especificidad de la
                            denominación y explicación de coherencia entre la denominación, el campo de conocimiento y
                            el nivel de formación.</h6>
                        <h6 class="gray text-left" *ngIf="show">3). ¿De qué manera las competencias previstas a
                            desarrollar en el programa soportan el alcance y la especificidad de la denominación? ¿Cómo
                            se explica la coherencia entre la denominación, el campo de conocimiento y el nivel de
                            formación? </h6>
                        <br>
                        <textarea (change)="progreso()" (change)="progreso8()" name="aspecto3Condicion1"
                            [(ngModel)]="cond1.aspecto3Condicion1" class="form-control shadow p-3 inputPaciente"
                            placeholder="..." rows="3"></textarea><br>
                        <br>
                        <form [formGroup]="archivoForm3" (ngSubmit)="subirArchivo3()">
                            <div class="row">
                                <div class="col">
                                    <ngb-progressbar *ngIf="porcentaje3 > -1 && porcentaje3 < 101" [showValue]="true"
                                        type="danger" [value]="porcentaje3"></ngb-progressbar><br>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="file-label">
                                        <input type="file" class="custom-file-input" formControlName="archivo3"
                                            (change)="cambioArchivo3($event)" id="customFileLang" lang="es" required>
                                        <span class="file-cta">
                                            <span class="custom-file-label text-left inputPaciente"
                                                style="margin-left: 16px;" for="customFileLang">
                                                {{ mensajeArchivo3 }}
                                            </span>
                                        </span>
                                    </label>
                                    <h5 *ngIf="porcentaje3 === 100" class="text-center"
                                        style="background-color: #dfd4a6;color: #8F141B;">Archivo cargado
                                        exitosamente</h5>
                                    <br>
                                </div>
                                <div class="col text-left">
                                    <button class="btn navlinkin" (click)="progreso8()" type="submit"
                                        [disabled]="!archivoForm3.valid"><i class="fas fa-upload"></i></button>
                                    <a href="{{ URLPublica3 }}" target="_blank" class="btn navlinkin"
                                        *ngIf="finalizado3" style="margin-left: 5px;"><i class="far fa-eye"></i></a>
                                    <div class="text-right" style="padding: 0px;">
                                        <span class="uscolink">{{acumPuntos8}}%</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                        <hr style="border-top: 1px solid black;">
                        <h6 class="gray text-left" *ngIf="!show">4). Argumentos que la IES presenta para justificar la
                            articulación entre la denominación del título y la del programa.</h6>
                        <h6 class="gray text-left" *ngIf="show">4). ¿Cuáles son los argumentos que la IES presenta para
                            justificar la articulación entre la denominación del título y la del programa, en los casos
                            en los que no se puede evidenciar una correspondencia directa? </h6>
                        <br>
                        <textarea (change)="progreso()" (change)="progreso9()" name="aspecto4Condicion1"
                            [(ngModel)]="cond1.aspecto4Condicion1" class="form-control shadow p-3 inputPaciente"
                            placeholder="..." rows="3"></textarea><br>
                        <br>
                        <form [formGroup]="archivoForm4" (ngSubmit)="subirArchivo4()">
                            <div class="row">
                                <div class="col">
                                    <ngb-progressbar *ngIf="porcentaje4 > -1 && porcentaje4 < 101" [showValue]="true"
                                        type="danger" [value]="porcentaje4"></ngb-progressbar><br>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="file-label">
                                        <input type="file" class="custom-file-input" formControlName="archivo4"
                                            (change)="cambioArchivo4($event)" id="customFileLang" lang="es" required>
                                        <span class="file-cta">
                                            <span class="custom-file-label text-left inputPaciente"
                                                style="margin-left: 16px;" for="customFileLang">
                                                {{ mensajeArchivo4 }}
                                            </span>
                                        </span>
                                    </label>
                                    <h5 *ngIf="porcentaje4 === 100" class="text-center"
                                        style="background-color: #dfd4a6;color: #8F141B;">Archivo cargado
                                        exitosamente</h5>
                                    <br>
                                </div>
                                <div class="col text-left">
                                    <button class="btn navlinkin" (click)="progreso9()" type="submit"
                                        [disabled]="!archivoForm4.valid"><i class="fas fa-upload"></i></button>
                                    <a href="{{ URLPublica4 }}" target="_blank" class="btn navlinkin"
                                        *ngIf="finalizado4" style="margin-left: 5px;"><i class="far fa-eye"></i></a>
                                    <div class="text-right" style="padding: 0px;">
                                        <span class="uscolink">{{acumPuntos9}}%</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div><br>
        <h5 class="text-center font-weight-bold text-uppercase">Progreso‬ general</h5>
        <div>
            <ngb-progressbar [showValue]="true" type="danger" [value]="acumPuntos"></ngb-progressbar>
        </div>
        <br>
        <div class="row">
            <div class="col text-right">
                <div class="form-group">
                    <button [disabled]="!forma.valid" type="submit" class="btn botonUsco"><span
                            class="far fa-save"></span> Guardar</button>
                </div>
            </div>
            <div class="col text-left">
                <div class="form-group">
                    <button [routerLink]="['/Condiciones1']" routerLinkActive="router-link-active"
                        class="btn botonUsco"><span class="fas fa-atlas"></span> Registros</button>
                </div>
            </div>
        </div>
    </form>
</div>