<header class="all header" >
  <div class="container">
      <div class="row align-items-center">
          <div class="col text-center">
              <a title="Universidad Surcolombiana" [routerLink]="['/home']">
                  <img style="width: 80%;height: 50%;margin: 20px;align-content: center" src="assets/universidad-surcolombiana-acreditacion.png" alt="Universidad Surcolombiana">
              </a>
          </div>
          <div class="col text-center align-items-center">
              <h5 style="width: 80%;height: 50%;font-size: 100%" class="caki text-uppercase font-weight-bold">{{title}}</h5>
          </div>
      </div>
  </div>
</header>