<div class="container inicio animated fadeIn fast">
  <br>
  <h3 class="text-uppercase">Organización actividades académicas y proceso formativo</h3>
  <br>
  <hr>
  <div class="accordion text-center" id="accordionExample"
    style="border-bottom-style: solid;border-color: #cccccc;;border-width: 1px;">
    <div class="card">
      <div class="card-header" id="headingOne" style="background-color: #8F141B">
        <div class="row">
          <div class="col" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne"></div>
          <div class="col">
            <h2 class="mb-0">
              <button (click)="toggle()" id="bt" class="btn btn-link navlinkin font-weight-bold text-uppercase"
                type="button">
                {{buttonName}}
              </button>
            </h2>
          </div>
          <div class="col" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne"></div>
        </div>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form action="">
            <h6 class="gray text-left" *ngIf="show">1). ¿Qué escenarios coloca la Institución a disposición del programa
              para lograr un desarrollo adecuado de los tiempos de trabajo propuestos? </h6>
            <h6 class="gray text-left" *ngIf="!show">1). Escenarios que coloca la Institución a disposición del programa
              para lograr un desarrollo adecuado de los tiempos de trabajo propuestos.</h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..."
              rows="1"></textarea>
            <h6 class="gray text-left" *ngIf="show">2). ¿Qué estrategias o acciones se prevén para el acompañamiento
              docente al trabajo de los Estudiantes? </h6>
            <h6 class="gray text-left" *ngIf="!show">2). Estrategias o acciones que la institución prevén para el
              acompañamiento docente al trabajo de los Estudiantes.</h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..."
              rows="1"></textarea>
            <h6 class="gray text-left" *ngIf="show">3). ¿Cómo se han previsto los escenarios para los encuentros entre
              Tutor y Estudiante de tal forma que se garantice el desarrollo de las actividades propuestas en cada
              componente del plan de estudios? </h6>
            <h6 class="gray text-left" *ngIf="!show">3). Escenarios para los encuentros entre Tutor y Estudiante de tal
              forma que se garantice el desarrollo de las actividades propuestas en cada componente del plan de
              estudios.</h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..."
              rows="1"></textarea>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>