<div class="container">
  <br>
  <h3 class="text-uppercase">Relación con el sector externo</h3>
  <br>
  <hr>
  <div class="accordion" id="accordionExample" style="border-bottom-style: solid;border-color: #cccccc;;border-width: 1px;">
    <div class="card">
      <div class="card-header" id="headingOne" style="background-color: #8F141B" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h2 class="mb-0">
          <button class="btn btn-link navlinkin font-weight-bold text-uppercase" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Cuestionario
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form action="">
            <h6 class="gray text-left">1). ¿Cuáles son los elementos centrales con los que el programa propone articularse con el sector externo? </h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
            <h6 class="gray text-left">2). ¿De qué manera la Institución demuestra el impacto en la sociedad derivado del desempeño y actuación de los graduados del programa? </h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
            <h6 class="gray text-left">3). En caso de renovación de registro calificado ¿Cuáles son las principales evidencias que desde la estrategia de proyección social o extensión la Institución ha logrado para el desarrollo del programa? </h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>