<div class="container animated fadeIn fast">
  <br>
  <h3 class="text-uppercase">Justificación Del Programa</h3>
  <br>
  <hr>
  <div class="accordion" id="accordionExample" style="border-bottom-style: solid;border-color: #cccccc;;border-width: 1px;">
    <div class="card">
      <div class="card-header" id="headingOne" style="background-color: #8F141B" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h2 class="mb-0 text-center">
          <button class="btn btn-link navlinkin font-weight-bold text-uppercase" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            aspectos
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form action="">
              <h6 class="gray text-left">1). Soportes y argumentos que utiliza la Institución para justificar la necesidad del programa en el contexto. </h6>
              <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
              <h6 class="gray text-left">2). Soportes y argumentos que utiliza la Institución para justificar la metodología y modalidad del programa. </h6>
              <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
              <h6 class="gray text-left">3). Aspectos académicos distintivos al programa.</h6>
              <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
<div class="row">
  <div class="col text-right">
      <div class="form-group">
        <button class="btn botonUsco"><span class="far fa-save"></span> Guardar</button>
      </div>
  </div>
  <div class="col text-left">
    <div class="form-group">
      <button class="btn botonUsco"><span class="fas fa-atlas"></span> Registros</button>
    </div>
  </div>
</div>
</div>