<div class="container animated fadeIn fast">
  <br>
  <h5 class="text-uppercase">Tabla 1</h5>
  <table bordercolor="black" class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th rowspan="2" scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">TIPO DE VINCULACIÓN</th>
        <th rowspan="2" scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">número de docentes</th>
        <th colspan="7" scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">nivel de formación</th>
      </tr>
      <tr class="text-center">
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no. técnicos</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no. tecnólogos</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no. profesionales</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no. especialistas</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no. magisters</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no. doctores</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">no. Postdoctorados</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-uppercase align-middle borden text-center" style="font-size: 12px">Tiempo completo</th>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
      </tr>
      <tr>
        <th scope="row" class="text-uppercase align-middle borden text-center" style="font-size: 12px">Medio Tiempo</th>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
      </tr>
      <tr>
        <th scope="row" class="text-uppercase align-middle borden text-center" style="font-size: 12px">catedra</th>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
        <td class="align-middle text-center">
          <input type="text" class="text-center" style="border:0px;width: 100%;">
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn botonUscoPerfil" routerLinkActive="active" [routerLink]="['/ModalTabla1']" >Nuevo registro</button>
  <br>
  <br>
  <h5 class="text-uppercase">Tabla 2</h5>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th rowspan="2" scope="col" class="text-uppercase align-middle borden">GRUPOS DE INVESTIGACIÓN NOMBRE</th>
        <th colspan="5" scope="col" class="text-uppercase align-middle borden">CLASIFICACIÓN EN COLCIENCIAS</th>
        <th rowspan="2" scope="col" class="text-uppercase align-middle borden">OTROS GRUPOS</th>
        <th rowspan="2" scope="col" class="text-uppercase align-middle borden">GRUPOS INTERDISCIPLINARIOS</th>
        <th rowspan="2" scope="col" class="text-uppercase align-middle borden">Acciones</th>
      </tr>
      <tr class="text-center">
        <th scope="col" class="text-uppercase align-middle borden">A1</th>
        <th scope="col" class="text-uppercase align-middle borden">A</th>
        <th scope="col" class="text-uppercase align-middle borden">B</th>
        <th scope="col" class="text-uppercase align-middle borden">C</th>
        <th scope="col" class="text-uppercase align-middle borden" placement="top" ngbTooltip="Registrado">r</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let k of tabla2condicione7 | keys; let i = index">
        <td class="align-middle text-center">
          {{ tabla2condicione7[k].nombregrupinves }}
        </td>
        <td class="align-middle text-center">
          {{ tabla2condicione7[k].clasificaciongrupinvesA1 }}
        </td>
        <td class="align-middle text-center">
          {{ tabla2condicione7[k].clasificaciongrupinvesA }}
        </td>
        <td class="align-middle text-center">
          {{ tabla2condicione7[k].clasificaciongrupinvesB }}
        </td>
        <td class="align-middle text-center">
          {{ tabla2condicione7[k].clasificaciongrupinvesC }}
        </td>
        <td class="align-middle text-center">
          {{ tabla2condicione7[k].clasificaciongrupinvesR }}
        </td>
        <td class="align-middle text-center">
          {{ tabla2condicione7[k].otrosgrup }}
        </td>
        <td class="align-middle text-center">
          {{ tabla2condicione7[k].grupinterdis }}
        </td>
        <td>
          <div class="row justify-content-center">
            <button [routerLink]="['/Modal', k]" class="btn navlinkin" style="width: 80%;margin: 1px;padding: 0;"><span class="fas fa-pencil-alt"></span></button>
          </div>
          <div class="row justify-content-center">
            <button class="btn navlinkin" (click)="openSm(content)" style="width: 80%;margin: 1px;padding: 0;"><span class="far fa-trash-alt"></span></button>
            <ng-template #content let-modal>
                <div class="modal-header text-center navlinkin">
                  <h4 class="modal-title" style="margin-left:45px;">¡PRECAUCIÓN!</h4>
                </div>
                <div class="modal-body text-center">
                  <p class="alert alert-danger text-uppercase">Está a punto de borrar el registro<br>¿Está seguro de ejecutar la acción?</p>
                  <div class="row align-content-center">
                    <div class="col text-center">
                      <button (click)="borrarInvocador(k)" class="btn btn-info">Aceptar</button>  
                    </div>
                    <div class="col text-center">
                      <button class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
                    </div>
                  </div>
                </div>
            </ng-template>
          </div>
      </td>
      </tr>
    </tbody>
  </table>
  <button class="btn botonUscoPerfil" routerLinkActive="active" [routerLink]="['/Modal', 'nuevo']" >Nuevo registro</button>
  <hr>
  <h5 class="text-uppercase">tabla publicación revista especializada</h5>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" rowspan="2" class="text-uppercase align-middle borden text-center">Grupo</th>
        <th scope="col" colspan="2" class="text-uppercase align-middle borden text-center">Clasificación</th>
        <th scope="col" rowspan="2" class="text-uppercase align-middle borden text-center">Total</th>
      </tr>
      <tr>
        <th scope="col" class="text-uppercase align-middle borden text-center">Tipo A</th>
        <th scope="col" class="text-uppercase align-middle borden text-center">Tipo Top</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h5 class="text-uppercase">tabla 4</h5>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-uppercase align-middle borden">Año y periódo</th>
        <th scope="col" class="text-uppercase align-middle borden">Estudiiantes inscritos</th>
        <th scope="col" class="text-uppercase align-middle borden">Graduados</th>
        <th scope="col" class="text-uppercase align-middle borden">Egresados</th>
        <th scope="col" class="text-uppercase align-middle borden">(%) Tasa deserción SPADIES </th>
        <th scope="col" class="text-uppercase align-middle borden">(%) Tasa deserción </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h5 class="text-uppercase">Docentes 1111 Administrativo</h5>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col" class="text-uppercase align-middle borden">Año</th>
        <th scope="col" class="text-uppercase align-middle borden">Período</th>
        <th scope="col" class="text-uppercase align-middle borden">T.C (2A.)</th>
        <th scope="col" class="text-uppercase align-middle borden">Medio tiempo (2B)</th>
        <th scope="col" class="text-uppercase align-middle borden">Cátedra (2C.)</th>
        <th scope="col" class="text-uppercase align-middle borden">Dedicación de profesores a la docencia de T.C y M.T(%)</th>
        <th scope="col" class="text-uppercase align-middle borden">Dedicación de profesores de T.C.y M.T a la investigación (%)</th>
        <th scope="col" class="text-uppercase align-middle borden">Dedicación de profesores a la extensión de T.C y M.T (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h5 class="text-uppercase">Docentes por año y nivel de formación</h5>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th rowspan="2" scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">Año y periodo</th>
        <th rowspan="2" scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">Dedicación</th>
        <th rowspan="2" scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">Total</th>
        <th colspan="7" scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">Nivel de formación (contabilizar solo el mayor nivel de grado) </th>
      </tr>
      <tr>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">técnicos</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">tecnólogos</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">profesionales</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">especialistas</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">magister</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">Doctores</th>
        <th scope="col" class="text-uppercase align-middle borden" style="font-size: 12px">Postdoctorados</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="accordion" id="accordionExample" style="border-bottom-style: solid;border-color: #cccccc;;border-width: 1px;">
    <div class="card">
      <div class="card-header" id="headingOne" style="background-color: #8F141B" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h2 class="mb-0 text-center">
          <button class="btn btn-link navlinkin font-weight-bold text-uppercase" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            aspectos
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form action="">
            <h6 class="gray text-left">1). ¿Cómo sustenta la Institución la disponibilidad, idoneidad y suficiencia de profesores para atender las diferentes áreas curriculares del Programa, en correspondencia con el número de estudiantes actual y/o proyectado? </h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
            <h6 class="gray text-left">2). ¿Cómo sustenta la Institución la disponibilidad, idoneidad y suficiencia de profesores de Tiempo completo para atender las funciones sustantivas del Programa, en correspondencia con el campo específico y nivel de formación del programa, y el número de estudiantes actual y/o proyectado? </h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
            <h6 class="gray text-left">3). ¿En qué aspectos se logra coherencia, sincronía  y suficiencia entre las metas, los plazos y los resultados (alcanzados o esperados) asociados a los planes de contratación docente y de desarrollo profesoral (o formación docente) con las necesidades del programa? </h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
            <h6 class="gray text-left">4). ¿Qué estrategias y acciones concretas desarrolla o desarrollará la Institución para fomentar el avance de los docentes en el escalafón o categorías previstas en el Reglamento o Estatuto Docente? </h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
            <h6 class="gray text-left">5). ¿De qué manera la Institución garantiza la capacitación de los docentes en el uso de las tecnologías y herramientas de apoyo al proceso de enseñanza-aprendizaje? ¿Qué perfiles establece la Institución para el personal docente de manera que se pueda atender adecuadamente la modalidad? </h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
            <h6 class="gray text-left">6). ¿De qué manera la institución sustenta la complementariedad y secuenciación entre los diferentes niveles de formación que se articulan por ciclos? </h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
            <h6 class="gray text-left">7). ¿De qué manera sustenta  la Institución la relación de trabajo y distribución de tiempos de los docentes con nivel de formación Maestría y Doctorado para los proyectos de investigación en los que participan los estudiantes? </h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..." rows="1"></textarea>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
<div class="row">
  <div class="col text-right">
      <div class="form-group">
        <button class="btn botonUsco"><span class="far fa-save"></span> Guardar</button>
      </div>
  </div>
  <div class="col text-left">
    <div class="form-group">
      <button class="btn botonUsco"><span class="fas fa-atlas"></span> Registros</button>
    </div>
  </div>
</div>
</div>