<div class="container">
    <div class=" animated fadeIn fast">
        <form (ngSubmit)="guardar()" #forma="ngForm" >
                <br>
                <h2 class="gray text-left titulosHistoria">Reseña Histórica</h2>
                <textarea [(ngModel)]="historia.reseniaHist" maxlength="4500" name="reseniaHist" class="form-control shadow p-3" placeholder="..." rows="30"></textarea><br><br>
                <h2 class="gray text-left titulosHistoria">Misión</h2>
                <textarea [(ngModel)]="historia.mision" maxlength="2000" name="mision" class="form-control shadow p-3" placeholder="..." rows="5"></textarea><br><br>
                <h2 class="gray text-left titulosHistoria">Visión</h2>
                <textarea [(ngModel)]="historia.vision" axlength="2000" name="vision" class="form-control shadow p-3" placeholder="..." rows="5"></textarea><br><br>
                <h2 class="gray text-left titulosHistoria">Objetivos</h2>
                <textarea [(ngModel)]="historia.objetivos" maxlength="2000" name="objetivos" class="form-control shadow p-3" placeholder="..." rows="10"></textarea><br><br>
                <div class="text-center"><br>
                    <button style="width: 20%; font-size: 100%;" type="submit" class="btn botonUsco"><span class="far fa-save fa-2x"> Guardar</span></button>
                </div>
                <hr>
                <br>
        </form>
    </div>
</div>