<div class="modal-header">
  <h4 class="modal-title">Doctorado en Ciencias de la Salud</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <p>
        <strong>Título a otorgar</strong>: Doctor en Ciencias de la Salud<br /> <strong>Código SNIES</strong>: 105543<br /> <strong>Registro Calificado</strong>: <a href="/salud/images/pdf/REGISTRO-CALIFICADO-DOCTORADO.pdf" target="_blank">Resolución Ministerio de Educación Nacional No. 09862 de 2016</a> <br /> <strong>Periodicidad de admisión</strong>: Anual
      </p>
    <button style="color: #DFD4A6;background-color: #8F141B" class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Toggle first element</button>
    <button style="color: #DFD4A6;background-color: #8F141B" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Toggle second element</button>
    <button style="color: #DFD4A6;background-color: #8F141B" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Toggle both elements</button>
    <hr>
  <div class="row" id="accordionExample">
    <div class="col">
      <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
        <div class="card card-body">
          1Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
        <div class="card card-body">
          2Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordionExample">
        <div class="card card-body">
          3Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
