<div class="container inicio animated fadeIn fast">
  <br>
  <h3 class="text-uppercase">Investigación, innovación y/o creación artistica y cultural</h3>
  <br>
  <hr>
  <div class="accordion text-center" id="accordionExample"
    style="border-bottom-style: solid;border-color: #cccccc;;border-width: 1px;">
    <div class="card">
      <div class="card-header" id="headingOne" style="background-color: #8F141B">
        <div class="row">
          <div class="col" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne"></div>
          <div class="col">
            <h2 class="mb-0">
              <button (click)="toggle()" id="bt" class="btn btn-link navlinkin font-weight-bold text-uppercase"
                type="button">
                {{buttonName}}
              </button>
            </h2>
          </div>
          <div class="col" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne"></div>
        </div>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form action="">
            <h6 class="gray text-left" *ngIf="show">1). ¿Cómo se alcanza coherencia entre los objetivos, estrategias,
              actividades, metas, recursos y responsables que propone la Institución en el Plan para el desarrollo de la
              Investigación en el Programa, con el nivel de formación del Programa y las capacidades institucionales?
            </h6>
            <h6 class="gray text-left" *ngIf="!show">1). Objetivos, estrategias, actividades, metas, recursos y
              responsables que propone la Institución en el Plan para el desarrollo de la Investigación en el Programa,
              con el nivel de formación del Programa y las capacidades institucionales.</h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..."
              rows="1"></textarea>
            <h6 class="gray text-left" *ngIf="show">2). ¿Mediante qué estrategias y actividades académicas se promueve
              la participación de estudiantes y profesores del Programa en Investigación? </h6>
            <h6 class="gray text-left" *ngIf="!show">2). Estrategias y actividades académicas que promueve la
              participación de estudiantes y profesores del Programa en Investigación.</h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..."
              rows="1"></textarea>
            <h6 class="gray text-left" *ngIf="show">3). ¿Cuáles actividades, proyectos y productos, afines al campo de
              conocimiento del Programa, permiten comprobar la participación de estudiantes y profesores del Programa
              con la investigación? </h6>
            <h6 class="gray text-left" *ngIf="!show">3). Actividades, proyectos y productos, afines al campo de
              conocimiento del Programa, los cuales comprueban la participación de estudiantes y profesores del Programa
              con la investigación.</h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..."
              rows="1"></textarea>
            <h6 class="gray text-left" *ngIf="show">4). ¿Cómo sustenta la Institución la disponibilidad e idoneidad de
              profesores orientados al fomento de la Investigación en áreas afines a la naturaleza del Programa? </h6>
            <h6 class="gray text-left" *ngIf="!show">4). Sustentación de la Institución con la disponibilidad e
              idoneidad de profesores orientados al fomento de la Investigación en áreas afines a la naturaleza del
              Programa.</h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..."
              rows="1"></textarea>
            <h6 class="gray text-left" *ngIf="show">5). ¿Cuáles son las estrategias de la función de investigación que
              acompañan el desarrollo académico propio de este nivel? </h6>
            <h6 class="gray text-left" *ngIf="!show">5). Estrategias de la función de investigación que acompañan el
              desarrollo académico propio de este nivel.</h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..."
              rows="1"></textarea>
            <h6 class="gray text-left" *ngIf="show">6). ¿Cómo explica la Institución la articulación y correspondencia
              entre las capacidades y fortalezas que tienen los Grupos de Investigación que apoyan al Programa y los
              Profesores asociados al programa, con el nivel de formación, el currículo y los años de funcionamiento del
              Programa? </h6>
            <h6 class="gray text-left" *ngIf="!show">6). Explicación de la Institución para la articulación y
              correspondencia entre las capacidades y fortalezas que tienen los Grupos de Investigación que apoyan al
              Programa y los Profesores asociados al programa, con el nivel de formación, el currículo y los años de
              funcionamiento del Programa.</h6>
            <textarea name="observa" class="form-control shadow p-3 inputPaciente" placeholder="..."
              rows="1"></textarea>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-right">
      <div class="form-group">
        <button class="btn botonUsco"><span class="far fa-save"></span> Guardar</button>
      </div>
    </div>
    <div class="col text-left">
      <div class="form-group">
        <button class="btn botonUsco"><span class="fas fa-atlas"></span> Registros</button>
      </div>
    </div>
  </div>
</div>