body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #000;
}
@media print
{    
    .tables thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #000;
    }
    table {
        border: solid 1px black;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #000;
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
}