<!--FOOTER V2.0 IMPLEMENTAR ENLACES DE IMAGENES-->
<footer class="page-footer light">
    <div class="container">
        <div class="row">
            <article class="centro txtcenter">
                <figure class="espacio"><img src="assets/universidad-surcolombiana.png" alt="Universidad Surcolombian"
                        title="Universidad Surcolombian"></figure>
                <p><strong>Institución de Educación Superior sujeta a inspección y vigilancia del Ministerio de
                        Educación
                        Nacional</strong></p><br>
            </article>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright dark text-black-50">
        <p>© {{today | date:'yyyy'}} Copyright Text</p>
    </div>
</footer>

<!--
    <section id="sp-allied"><div class="container" style="background-color: #e6e6e6;"><div class="row"><div id="sp-aliado1" class="col-xs-6 col-sm-4 col-md-2"><div class="sp-column "><div class="sp-module "><div class="sp-module-content">

        <div class="custom">
            <p><a title="Universidad Surcolombiana" href="https://www.usco.edu.co/es/" target="_blank" rel="noopener noreferrer"><img title="Universidad Surcolombiana" src="assets/footer-universidad-surcolombiana.png" alt="Universidad Surcolombiana"></a></p></div>
        </div></div></div></div><div id="sp-aliado2" class="col-xs-6 col-sm-4 col-md-2"><div class="sp-column "><div class="sp-module "><div class="sp-module-content">
        
        <div class="custom">
            <p><a href="https://www.mineducacion.gov.co/sistemasinfo/snies/" target="_blank" rel="noopener noreferrer"><img title="Ministerio de Educación" src="assets/footer-snies2019.png" alt="Sistema Nacional de Informacion de la Educacion Superior (SNIES)"></a></p></div>
        </div></div></div></div><div id="sp-aliado3" class="col-xs-6 col-sm-4 col-md-2"><div class="sp-column "><div class="sp-module "><div class="sp-module-content">
        
        <div class="custom">
            <p><a title="Colciencias" href="https://www.mineducacion.gov.co/portal/Educacion-superior/" target="_blank" rel="noopener noreferrer"><img title="Colciencias" src="assets/footer-minedu.png" alt="Ministerio de educación - Educación superior"></a></p></div>
        </div></div></div></div></div></div></section>
-->